<!doctype html>
<html lang="en">

<head>
    <title>Vue To Do</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>

    <div id="app">
        <div class="container m-5 d-flex flex-column align-items-center">
            <div class="wrapper_to_add">
                <input type="text" placeholder="ex. new task" v-model="newTask">
                <button class="btn btn-success mx-4" @click="addTask">Add task</button>
            </div>
            <div class="wrapper_tasks">
                <ul>
                    <li v-for="(task,index) in tasks">{{task.text}}</li>
                </ul>
            </div>

        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js
    "></script>
    <script src="./assets/js/app.js"></script>

</body>

</html>